body  {
    font-family: sans-serif;
    background: rgb(225, 225, 225);
}

header  {
    margin: 20px auto 0 auto;

    width: 640px;
    height: 356px;
    background: url('/static/img/CanoeMissingHeader.png') top left no-repeat;

    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: black;

    position: relative;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

header h1  {
    color: white;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: -3px;
    text-shadow: black 2px 2px 2px;

    margin-top: 50px;
    padding-left: 70px;
}

header aside  {
    margin: 0;
    padding: 0;

    position: absolute;
    top: 30px;
    right: 30px;

    width: 120px;
    height: 120px;

    text-align: center;

    font-size: 40px;
    font-weight: bold;

    background: rgba(255, 255, 255, 0.5);

    -webkit-border-radius: 20px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 20px;
    -moz-border-radius-topright: 0;
    border-radius: 20px;
    border-top-right-radius: 0;
}

header aside p.fraction  {
    margin: 20px 0 0 0;
    padding: 0;
}

header aside p.label  {
    margin: 0;
    padding: 0;

    font-size: 20px;
    letter-spacing: 6px;
    color: rgb(128, 128, 128);
    text-shadow: white 1px 1px 1px;
}

header aside sup  {
    font-size: 20px;
}

header aside sub  {
    font-size: 20px;
}

header #done-label  {
    display: none;
    color: #C8FFC8;
    font-weight: 900;
    font-size: 30px;
    font-style: italic;
    letter-spacing: -1px;
    text-shadow: black 2px 2px 2px;

    margin-top: -25px;
    padding-left: 140px;
}

header .menu  {
    position: absolute;
    top: 320px;
    width: 98%;
    text-align: right;

    list-style-type: none;
}

header .menu li  {
    display: inline;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    background: rgba(255, 255, 255, 0.5);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

header .menu li:hover  {
    background: rgba(255, 255, 255, 0.75);
}

header .menu li a  {
    text-decoration: none;
    color: #333333;
}

#canoe-progress  {
    height: 113px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 215px;
    background: url('/static/img/CanoeHeader.png') top left no-repeat;
}

.flash-message  {
    width: 100%;
    padding: 1em 6em 1em 6em;
    font-weight: bold;
    text-decoration: small-caps;
}

section.content  {
    margin: 0 auto 0 auto;
    width: 640px;

    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: black;
}

section.content img  {
    width: 50%;
    float: right;
    margin: 5px;

    border: 1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

section.content div.clearer  {
    clear: both;
}

section.content article.post  {
    padding: 1em;
}

article.post  {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #CCCCCC;
}

article.odd  {
    background-color: rgba(255,255,255,0.3);
}

article.even  {
    background-color: rgba(255,255,255,0.15);
}

article.post h2 {
    font: 14pt sans-serif;
    text-shadow: white 0.1em 0.1em 0.1em;
    font-weight: bold;
}

article.post h6 {
    color: #333333;
    font: 8pt sans-serif;
    margin-top: -0.3em;
    text-shadow: white 0.1em 0.1em 0.1em;
}

section.content article.static  {
    margin: 0px;
    padding: 0.2em 1em 0.2em 1em;
}

section.content article.static p {
    margin: 1em;
    padding: 0.2em 1em 0.2em 1em;
    text-align: justify;
    text-justify: newspaper;
}

#post-form-fields  {
    display: none;
}

#post-form label  {
    display: block;
	float: left;
	width: 100px;
	text-align: right;

    margin-right: 1em;
    text-shadow: white 0.1em 0.1em 0.1em;
}

#post-form .password-label  {
    width: 100%;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    text-shadow: white 0.1em 0.1em 0.1em;
}

#post-form input {
	width: 400px;
    border: 1px solid black;
    font: 13pt sans-serif;
}

#post-form textarea {
    width: 396px;
    border: 1px solid black;
    font: 13pt sans-serif;
}

footer  {
    margin: 0 auto;
    width: 640px;

    font-size: 0.7em;

    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: black;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

footer p  {
    margin: 0;
    padding: 0.2em 1em 0.2em; 1em;
}
