{% extends('common.html') %}
{% block content %}
<article class="static">
    <p>
        <b>What the hell is this?</b>
    </p>

    <p>
        First, it's a learning tool. I'm a developer that has been out of web development for
        a while, and I wanted to try out some new technologies. This site was first written
        in Clojure, however my interest has switched to Python. The site is currently written
        in Python using <a href="http://flask.pocoo.org">Flask</a> and
        <a href="http://pypi.python.org/pypi/pymongo">PyMongo</a>. The source is available on
        <a href="https://github.com/dsosby">my GitHub</a> account as well...it may even prove useful
        to someone!
    </p>

    <p>
        Second, it's a way to keep track of my canoe usage. After several weeks of <strike>begging</strike>
        negotiating with my wife, I was finally <strike>allowed</strike> encouraged to make
        the purchase. Part of the deal was that I had to use the canoe at least 20 times
        within the year or it had to go!
    </p>
</article>
{% endblock content %}
