<!doctype html>
<head>
    <title>pyCanoed</title>
    <link rel="stylesheet" type="text/css" href="static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
</head>
<body>
    <header>
        <h1>pyCanoed</h1>
        <!--Canoe image should go here-->
        <aside>
            <p class="fraction">
                <sup>{{count}}</sup>
                of
                <sub>20</sub>
            </p>
            <p class="label">
                trips
            </p>
        </aside>
    </header>

    <section class="content">
        {% if count == 0 %}
            <h2>No entries yet. Check back later.</h2>
        {% else %}
            {% for post in posts %}
            <article class="post">
                <h2>{{ post["timestamp"].strftime("%Y-%m-%d") }} - {{ post["title"] }}</h2>
                <p>
                    {{ post["entry"] }}
                </p>
            </article>
            {% endfor %}
        {% endif %}
    </section>

    <footer>
        <p>David Sosby - 2012</p>
    </footer>
</body>
</html>
