<!doctype html>
<head>
    <title>pyCanoed</title>
    <link rel="stylesheet" type="text/css" href="static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/smoothness/jquery-ui-1.8.20.custom.css"/>	
    <script src="static/js/jquery-1.7.2.min.js"></script>
    <script src="static/js/jquery-ui-1.8.20.custom.min.js"></script>
    <script src="static/js/site.js"></script>
</head>
<body>
    <header>
        <h1>pyCanoed</h1>
        <!--Canoe image should go here-->
        <aside>
            <p class="fraction">
                <sup>{{ header.count }}</sup>
                of
                <sub>20</sub>
            </p>
            <p class="label">
                trips
            </p>
        </aside>
        <ul class="menu">
            {% for link in header.links %}
                {% if link == "about" %}<li><a href="{{ url_for('about') }}">What Is This?</a></li>{% endif %}
                {% if link == "index" %}<li><a href="/">All Posts</a></li>{% endif %}
                {% if link == "post" %}<li><a href="#post" id="post-button">+</a></li>{% endif %}
            {% endfor %}
        </ul>
    </header>

    <section class="content">
        {% block content %}
        {% endblock %}
    </section>

    <footer>
        <p>David Sosby - 2012</p>
    </footer>
</body>
</html>
