
{% extends('common.html') %}
{% block content %}
<article class="static">
        <form id="post-form" action="{{ url_for('post') }}" method="post">
            <fieldset>
            <div id="post-password-field">
                <h3 class="password-label">Password</h3>
                <label for="post-password">&nbsp</label>
                <input type="password" name="password" id="post-password" /><br/>
            </div>
            <div id="post-form-fields">
                    <label for="post-title">Title</label>
                    <input type="text" name="title" id="post-title" /><br/>
                    <label for="post-entry">Entry</label>
                    <textarea name="entry" id="post-entry" rows=10></textarea><br/>
                    <label>&nbsp;</label>
                    <input type="submit" value="Post"/>
            </div>
            </fieldset>
        </form>
</article>
{% endblock content %}
